<%= form_tag( {},{:id=>"list", :name=>"list"}) do %>
  <%= render :partial => "buttons" %>
  <table class="list-table">
    <col class="checkbox"/><col span=2 class="coldata"/>
    <col class="coldate"/><col class="actions"/>
    <tr>
      <th> <%= checkable_field_header %></th>
      <th> <%= sortable_field_header t("activeview.columns.comment_type.name"), "comment_types.name" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.comment_type.code"), "comment_types.code" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.comment_type.created_at"), "comment_types.created_at" %></th>
      <th> <%= t("activeview.columns.comment_type.actions") %> </th>
    </tr>
    <% @comment_types.each do |comment_type| %>
      <tr>
        <td><%= check_box_tag('ids[]', comment_type.id, false) %></td>
        <td><%= link_to comment_type.name, :action => "edit", :id =>comment_type %></td>
        <td><%= link_to comment_type.code, :action => "edit", :id =>comment_type %></td>
        <td><%= localize(comment_type.created_at, :format => :long) %></td>
        <td>
          <%=link_to(image_tag("buttons/update_object.png", {:alt => "Update", :title => "Update"}), :action => "edit", :id => comment_type) %>
          <%=link_to(image_tag("buttons/delete_object.png", {:alt => "Delete", :title => "Delete"}), :action => "destroy", :id => comment_type) %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= render :partial => "buttons" %>
<%end%>
