<div id="list-menu">
  <ul>
    <%= list_menu_item :label => t("navigation.mprograms.listmenu.android"),
                       :url => "/mprograms/android",
                       :match_path => "^\/mprograms\/android(.*)$" %>
    <%= list_menu_item :label => t("navigation.mprograms.listmenu.blackberry"),
                       :url => "/mprograms/blackberry",
                       :match_path => "^\/mprograms\/blackberry(.*)$" %>
    <%= list_menu_item :label => t("navigation.mprograms.listmenu.iphone"),
                       :url => "/mprograms/iphone",
                       :match_path => "^\/mprograms\/iphone(.*)$" %>
    <%= list_menu_item :label => t("navigation.mprograms.listmenu.symbyan"),
                       :url => "/mprograms/symbyan",
                       :match_path => "^\/mprograms\/symbyan(.*)$" %>
    <%= list_menu_item :label => t("navigation.mprograms.listmenu.webos"),
                       :url => "/mprograms/webos",
                       :match_path => "^\/mprograms\/webos(.*)$" %>
    <%= list_menu_item :label => t("navigation.mprograms.listmenu.winmobile"),
                       :url => "/mprograms/winmobile",
                       :match_path => "^\/mprograms\/winmobile(.*)$" %>
  </ul>
</div>
