<%= form_for :product_type_property_filter, :url => {:action => "index"},
:html => {:method => :get, :id => "product_type_properties_filter", :class => "list-filter" } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <ul>
      <li>
        <%= f.label :property_id %>
        <%= f.collection_select :property_id, @properties_filter, :id, :name %>
        <%= f.error_message_on :property_id %>
      </li>
      <li>
        <%= f.label :product_type_id %>
        <%= f.collection_select :product_type_id, @product_types_filter, :id, :name %>
        <%= f.error_message_on :product_type_id %>
      </li>
      <li>
        <%= f.label :created_at_since %>
        <%= f.date_time_picker :created_at_since %>
        <%= f.error_message_on :created_at_since %>
      </li>
      <li>
        <%= f.label :created_at_till %>
        <%= f.date_time_picker :created_at_till %>
        <%= f.error_message_on :create_at_after %>
      </li>
    </ul>
    <%= f.submit t("buttons.filtrate") %>
  </fieldset>
<% end %>
<%= set_focus_on_load("product_type_property_filter_property_id") %>
