New user has been activated on <a href=http://<%= @runtime_settings["server_url"] %> ><%= @runtime_settings["server_url"] %></a>:
<ul>
  <li>Login: <%= @user.login %></li>
  <li>Nickname: <%= @user.nickname %></li>
  <li>Email: <%= @user.email %></li>
  <li>First Name: <%= @user.firstname %></li>
  <li>Middle Name: <%= @user.middlename %></li>
  <li>Last Name: <%= @user.lastname %></li>
</ul>
