<%= form_for :category_filter, :url => {:action => "index"},
  :html => {:method => :get, :id => "categories_filter", :class => "list-filter"  } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <ul>
      <li>
        <%= f.label :namel %>
        <%= f.text_field :namel %>
        <%= f.error_message_on :namel %>
      </li>
      <li>
        <%= f.label :about %>
        <%= f.text_field :about %>
        <%= f.error_message_on :about %>
      </li>
      <li>
        <%= f.label :created_at_since %>
        <%= f.date_time_picker :created_at_since %>
        <%= f.error_message_on :created_at_since %>
      </li>
      <li>
        <%= f.label :created_at_till %>
        <%= f.date_time_picker :created_at_till %>
        <%= f.error_message_on :create_at_after %>
      </li>
    </ul>
    <%= f.submit t("buttons.filtrate") %>
  </fieldset>
<% end %>
<%= set_focus_on_load("category_filter_name") %>

