<%= form_tag( {},{:id=>"list", :name=>"list"}) do %>
  <%= render :partial => "buttons" %>
  <table class="list-table">
    <col class="checkbox"/>
    <col class="colname"/>
    <col class="colname"/>
    <col class="colname"/>
    <col class="colnumber"/>
    <col class="coldate"/>
    <col class="actions"/>
    <tr>
      <th> <%= checkable_field_header %></th>
      <th> <%= sortable_field_header t("activeview.columns.region.name"), "regions.name" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.region.code"), "regions.code" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.region.phone"), "regions.phone" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.region.enabled"), "regions.enabled" %></th>
      <th> <%= sortable_field_header t("activeview.columns.region.created_at"), "regions.created_at" %></th>
      <th> <%= t("activeview.columns.region.actions") %> </th>
    </tr>
    </tr>
    <% @regions.each do |region| %>
      <tr>
        <td><%= check_box_tag('ids[]', region.id, false) %></td>
        <td><%= link_to region.name, :action => "edit", :id =>region %></td>
        <td><%= link_to region.code, :action => "edit", :id =>region %></td>
        <td><%= link_to region.phone, :action => "edit", :id =>region %></td>
        <td><%= link_to region.enabled, :action => "edit", :id =>region %></td>
        <td><%= localize(region.created_at, :format => :long) %></td>
        <td>
          <%=link_to(image_tag("buttons/update_object.png", {:alt => "Update", :title => "Update"}), :action => "edit", :id => region) %>
          <%=link_to(image_tag("buttons/delete_object.png", {:alt => "Delete", :title => "Delete"}), :action => "destroy", :id => region) %>
          <% if region.enabled == 1 %>
            <%=link_to(image_tag("buttons/disable_object.png", {:alt => t('buttons.disable'), :title => "Disable"}), :action => "disable", :id => region) %>
          <% else %>
            <%=link_to(image_tag("buttons/enable_object.png", {:alt => t('buttons.enable'), :title => "Enable"}), :action => "enable", :id => region) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= render :partial => "buttons" %>
<%end%>
