<%= form_tag( {},{:id=>"list", :name=>"list"}) do %>
  <%= render :partial => "buttons" %>
  <table class="list-table">
    <col class="checkbox"/><col span=2 class="coldata"/>
    <col class="coldate"/><col class="actions"/>
    <tr>
      <th> <%= checkable_field_header %></th>
      <th> <%= sortable_field_header t("activeview.columns.language.name"), "languages.name" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.language.code"), "languages.code" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.language.created_at"), "languages.created_at" %></th>
      <th> <%= t("activeview.columns.currency.actions") %> </th>
    </tr>
    <% @languages.each do |language| %>
      <tr>
        <td><%= check_box_tag('ids[]', language.id, false) %></td>
        <td><%= link_to language.name, :action => "edit", :id =>language %></td>
        <td><%= link_to language.code, :action => "edit", :id =>language %></td>
        <td><%= localize(language.created_at, :format => :long) %></td>
        <td>
          <%=link_to(image_tag("buttons/update_object.png", {:alt => "Update", :title => "Update"}), :action => "edit", :id => language) %>
          <%=link_to(image_tag("buttons/delete_object.png", {:alt => "Delete", :title => "Delete"}), :action => "destroy", :id => language) %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= render :partial => "buttons" %>
<%end%>
