<div id="footer">
  <%= link_to t("main_footer.sitemap"), "/home/sitemap" %> &nbsp;|&nbsp;
  <%= link_to t("main_footer.contact_us"), "/home/contact_us" %> &nbsp;|&nbsp;
  <%= link_to t("main_footer.terms_of_use"), "/home/terms_of_use" %> &nbsp;|&nbsp;
  <%= link_to t("main_footer.privacy_policy"), "/home/privacy_policy" %>
  <div class="copyright">&copy; <%= t("main_footer.copyright") %>.</div>
</div>
