<% content_for :meta_keywords do %>
  <title>спортивное питание спб MirWellnessa</title>
  <meta name="keywords" content="спортивное питание спб, mirwellnessa" />
  <meta name="description" content="В интернет магазине MirWellnessa.ru представлен широкий выбор продуктов спортивного питания в спб. У нас вы найдете продукцию от лучших мировых брендов для занятий фитнесом, бодибилдингом, пауэрлифтингом, а также другими видами спорта."/>
<% end %>

<div id="about-us" class="html-text">
  <h1>Интернет магазин MirWelnessa.ru – лидер рынка спортивного питания (СПБ).</h1>
  <h2>Уважаемые покупатели!</h2>
  <p>
    Мы рады приветствовать Вас в интернет магазине MirWelnessa.ru компании ООО "ГРАНД СЕРВИС". На страницах
    нашего магазина Вы сможете найти продукцию от лучших мировых брендов, представленных на рынке спортивного
    питания, экипировки, аксессуаров и иных товаров для занятий фитнесом, бодибилдингом, пауэрлифтингом, а также
    другими видами спорта.
  </p>
  <p>
    Широкий спектр товаров, представленных в магазине, поможет Вам дополнить рацион питания необходимыми
    витаминами и минералами, протеином (белком) и углеводами. В линейке товаров представлены препараты для
    снижения веса, термогенные комплексы (жиросжигатели), специальные препараты для мужчин и для женщин,
    необходимые аминокислоты, препараты, способствующие активному долголетию и иные товары, предназначенные для того,
    чтобы добиться успеха не только в спортивном зале, но и в повседневной жизни, ведь Ваш успех это Ваше здоровье
    и здоровье Ваших родных и близких!
  </p>
  <% if !::Rails.env.include?('test') %>
  <h2>Ассортимент интернет магазина MirWelnessa.ru</h2>
  <p>
    <%= link_to theme_image_tag('manufactors/muscletech.png'), @muscle_tech_category.url, {:alt => "спортивное питание MuscleTech", :title => "товары MuscleTech"} %>
    Компания <%= link_to 'MuscleTech', @muscle_tech_category.url, {:alt => "спортивное питание MuscleTech", :title => "товары MuscleTech"} %> представляет продукцию, разработка и производство которой основываются на самых современных
    научных данных в области спортивного питания. Фундаментальные научные идеи, выдвигаемые в компании, проверяются
    на опытах в собственном научном центре. В настоящее время проходит более 100 независимых исследований в самых
    крупных университетах Америки.
  </p>
  <p>
    <%= link_to theme_image_tag('manufactors/weider.png'), @weider_category.url, {:alt => "спортивное питание Weider", :title => "товары Weider"} %>
    История компании <%= link_to 'Weider', @weider_category.url, {:alt => "спортивное питание Weider", :title => "товары Weider"} %> насчитывает уже более чем полувековую историю. Связанно название компании с именем человека,
    сделавшего очень многое для мира спорта – Джо Вейдером. Он одним из первых начал создавать специальные программы
    питания для спортсменов. Под его руководством стал неоднократным Мистером Олимпия великий Арнольд Шварценеггер.
    Имя Вейдер неразрывно связанно с успехом в мире спорта. <%= link_to 'Weider', @weider_category.url, {:alt => "спортивное питание Weider", :title => "товары Weider"} %> – питание чемпионов.
  </p>
  <p>
    <%= link_to theme_image_tag('manufactors/multipower.png'), @multipower_category.url, {:alt => "спортивное питание Multipower", :title => "товары Multipower"} %>
    История существования компании насчитывает уже более 30 лет успешной работы! Основным принципом работы известного
    производителя является создание продуктов на основе новейших научных разработок с использованием сырья высочайшего
    качества.  <%= link_to 'Multipower', @multipower_category.url, {:alt => "спортивное питание Multipower", :title => "товары Multipower"} %> имеет собственный научно-исследовательский отдел, в котором работают более 20 ученых.
  </p>
  <p>
     <%= link_to theme_image_tag('manufactors/san.png'), @san_category.url, {:alt => "спортивное питание SAN", :title => "товары SAN"} %>
    Начиная с 1996 года компания <%= link_to 'SAN', @san_category.url, {:alt => "спортивное питание SAN", :title => "товары SAN"} %> внедряла и использовала при производстве препаратов только самые инновационные
    разработки. Некоторые технологии компании <%= link_to 'SAN', @san_category.url, {:alt => "спортивное питание SAN", :title => "товары SAN"} %>, опережая время, стремительно завоевали рынок и указывают другим
    производителям спортивного питания, в каком направлении должны двигаться разработки идей и производство спортивных
    добавок. Отменное качество, превосходный вкус, новые идеи, дающие отдачу технологии и стильный дизайн
    упаковки - неизменные черты продукции <%= link_to 'SAN', @san_category.url, {:alt => "спортивное питание SAN", :title => "товары SAN"} %>.
  </p>
  <p>
    <%= theme_image_tag "manufactors/powersystem.png", {:alt => "спортивное питание PowerSystem", :title => "товары PowerSystem"} %>
    Линия спортивного питания Power System – необходимый набор натуральных продуктов для силовых видов спорта.
    Высокая эфективность и полная безопасность применения препаратов от Power System определяет широкую целевую группу
    потребителей: от профессиональных спортсменов до посетителей фитнес-клубов и людей, ведущих активный и здоровый
    образ жизни.
  </p>
  <p>
     <%= link_to theme_image_tag('manufactors/mmusa.png'), @mm_usa_category.url, {:alt => "спортивное питание MM USA", :title => "товары MM USA"} %>
    Компания <%= link_to 'MM USA', @mm_usa_category.url, {:alt => "спортивное питание MM USA", :title => "товары MM USA"} %>, продукцию которой мы предлагаем вашему вниманию, поставила перед собой задачу исследовать и
    произвести самое безопасное для здоровья спортсменов и высокоэффективное питание. Его можно принимать не только
    определёнными циклами, но и на протяжении всего подготовительного и соревновательного периода ежедневно.
  </p>

  <p>На нашем сайте вы найдете также продукты спортивного питания и велнеса других известных производителей, таких как:
    <%= link_to 'BSN', @bsn_category.url, {:alt => "спортивное питание BSN", :title => "товары BSN"} %>,
    <%= link_to 'Dymatize', @dymatize_category.url, {:alt => "спортивное питание Dymatize", :title => "товары Dymatize"} %>,
    <%= link_to 'Optimum Nutrition', @optimum_nutrition_category.url, {:alt => "спортивное питание Optimum Nutrition", :title => "товары Optimum Nutrition"} %>,
    <%= link_to 'MHP', @mhp_category.url, {:alt => "спортивное питание MHP", :title => "товары MHP"} %>,
    <%= link_to 'Ultimate Nutrition', @ultimate_nutrition_category.url, {:alt => "спортивное питание Ultimate Nutrition", :title => "товары Ultimate Nutrition"} %>,
    <%= link_to 'Syntrax Innovations', @syntrax_innovations_category.url, {:alt => "спортивное питание Syntrax Innovations", :title => "товары Syntrax Innovations"} %>
    и других хорошо зарекоммендовавших себя производителей спортивного питания и товаров велнес индустрии.
  </p>
  <% end %>

  <p>
    <strong>
      Продукты спортивного питания это Ваш путь к здоровому образу жизни, красивой и стройной фигуре, активному долголетию - ВАШ ПУТЬ К УСПЕХУ!
    </strong>
  </p>
  <h2>ПРИЯТНЫХ ВАМ ПОКУПОК!</h2>
</div>
