<div id="content" class="greetings">
<center><h1>MirWellnessa - магазин спортивного питания в Санкт-Петербурге</h1></center>
  <div id="welcome-main">
    <div id="power" class="big-box">
      <a href={{ "muscle building" | category_link }}>
        <h2 class="big-box-header">{{ 'home.index.power.title' | translate_message }}</h2>
        <h3 class="big-box-content">{{ 'home.index.power.content'| translate_message }}</h3>
      </a>

    <div id="add-power" class="small-box">
      <ul>
        <li>
          <a href={{ "muscle building" | category_link }} title={{ 'home.index.links.build_muscle'| translate_message }}> {{ 'home.index.links.build_muscle' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "amino acids" | category_link }} title={{ 'home.index.links.aminos'| translate_message }}> {{ 'home.index.links.aminos' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "before training complex" | category_link }} title={{ 'home.index.links.increase_power'| translate_message }}> {{ 'home.index.links.increase_power' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "protein" | category_link }} title={{ 'home.index.links.proteins'| translate_message }}> {{ 'home.index.links.proteins' | translate_message }} </a>
        </li>
      </ul>

      <a href={{ "muscle building" | category_link }} class="welcome-more" title={{ 'tooltips.more'| translate_message }}></a>
    </div>
  </div>

  <div id="activity" class="big-box">
    <a href={{ "increase endurance" | category_link }}>
      <h2 class="big-box-header">{{ 'home.index.activity.title' | translate_message }}</h2>
      <h3 class="big-box-content">{{ 'home.index.activity.content'| translate_message }}</h3>
    </a>

    <div id="add-activity" class="small-box">
      <ul>
        <li>
          <a href={{ "energy" | category_link }} title={{ 'home.index.links.energy'| translate_message }}> {{ 'home.index.links.energy' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "recovery" | category_link }} title={{ 'home.index.links.restore'| translate_message }}> {{ 'home.index.links.restore' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "increase endurance" | category_link }} title={{ 'home.index.links.increase_durability'| translate_message }}> {{ 'home.index.links.increase_durability' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "creatine" | category_link }} title={{ 'home.index.links.creatine'| translate_message }}> {{ 'home.index.links.creatine' | translate_message }} </a>
        </li>
      </ul>

      <a href={{ "increase endurance" | category_link }} class="welcome-more" title={{ 'tooltips.more'| translate_message }}></a>
    </div>
  </div>

  <div id="weightloss" class="big-box">
    <a href={{ "weight lost" | category_link }}>
      <h2 class="big-box-header">{{ 'home.index.weightloss.title' | translate_message }}</h2>
      <h3 class="big-box-content">{{ 'home.index.weightloss.content'| translate_message }}</h3>
    </a>
    <div id="add-weightloss" class="small-box">
      <ul>
        <li>
          <a href={{ "weight lost" | category_link }} title={{ 'home.index.links.weight_lost'| translate_message }}> {{ 'home.index.links.weight_lost' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "weight lost" | category_link }} title={{ 'home.index.links.fat_burn'| translate_message }}> {{ 'home.index.links.fat_burn' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "cosmetics" | category_link }} title={{ 'home.index.links.natural_cosmetics'| translate_message }}> {{ 'home.index.links.natural_cosmetics' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "hair maintenance" | category_link }} title={{ 'home.index.links.hare_care'| translate_message }}> {{ 'home.index.links.hare_care' | translate_message }} </a>
        </li>
      </ul>

      <a href={{ "weight lost" | category_link }} class="welcome-more" title={{ 'tooltips.more'| translate_message }}></a>
    </div>
  </div>

  <div id="longevity" class="big-box">
    <a href={{ "vitamin" | category_link }}>
      <h2 class="big-box-header">{{ 'home.index.longevity.title' | translate_message }}</h2>
      <h3 class="big-box-content">{{ 'home.index.longevity.content'| translate_message }}</h3>
    </a>
    <div id="add-longevity" class="small-box">
      <ul>
        <li>
          <a href={{ "sexual health man" | category_link }} title={{ 'home.index.links.sexual_helth'| translate_message }}> {{ 'home.index.links.sexual_helth' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "vitamin" | category_link }} title={{ 'home.index.links.vatamins'| translate_message }}> {{ 'home.index.links.vatamins' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "joint support" | category_link }} title={{ 'home.index.links.joint_support'| translate_message }}> {{ 'home.index.links.joint_support' | translate_message }} </a>
        </li>
        <li>
          <a href={{ "antioxidant" | category_link }} title={{ 'home.index.links.anti_oxidants'| translate_message }}> {{ 'home.index.links.anti_oxidants' | translate_message }} </a>
        </li>
      </ul>

      <a href={{ "vitamin" | category_link }} class="welcome-more" title={{ 'tooltips.more'| translate_message }}> </a>
    </div>
  </div>
 </div>
</div>
