<%= form_for @password, :url => {:action => action_name},
   :html => {:id => "change_password_form", :class => "basic-form" } do |f| %>
  <%= render :partial => "reset_header" %>
  <%= f.error_messages :header_message => t("activerecord.errors.models.password_change.header_message", :count => @password.errors.count) %>
  <fieldset>
    <%= render :partial => "reset_section1" %>
    <ul>
      <li>
	    <%= f.mandatory_label :old_password %>
	    <%= f.password_field :old_password %>
	    <%= f.hint_message_on :old_password %>
	    <%= f.error_message_on :old_password %>
      </li>
      <li>
	    <%= f.mandatory_label :password %>
	    <%= f.password_field :password %>
	    <%= f.hint_message_on :password %>
	    <%= f.error_message_on :password %>
      </li>
      <li>
	    <%= f.mandatory_label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	    <%= f.hint_message_on :password_confirmation %>
	    <%= f.error_message_on :password_confirmation %>
      </li>
    </ul>
    <%= f.submit button_label, :class => 'blue-button'  %>
  </fieldset>
<% end %>
<%= set_focus_on_load("password_password") %>