<%= form_tag( {},{:id=>"list", :name=>"list"}) do %>
  <table class="list-table">
   <col class="checkbox"/><col class="actions"/><col class="coldata"/>
    <tr>
      <th><%= checkable_field_header %></th>
      <th> Actions </th>
      <th> <%= sortable_field_header "Name", "name" %> </th>
      <th> <%= sortable_field_header t("activeview.columns.comment.created_at"), "created_at" %></th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= check_box_tag('ids[]', order.id, false) %></td>
        <td>
          <ul class="action-menu">
            <li>
              <%= link_to "What to do?", {:action => "edit", :id => order} %>
              <ul>
                <li><%= link_to 'Update',{:action => "edit", :id => order} %></li>
                <li><%= link_to 'Delete',{:action => "destroy", :id => order} %></li>
              </ul>
            </li>
          </ul>
        </td>
        <td><%= link_to order.name, :action => "edit", :id =>order %></td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </table>

  <% ctrl = "/myaccount/shopping/comments" %>
  <% disabled = (@orders.size > 0 ? false : true)%>
  <%= render :partial => "shared/paginator_with_info", :locals => { :objects => @orders } %>
  <%=submit_tag t("buttons.create"), :class => "submit-button", :onclick => "document.list.action='#{ctrl}/new';" %>
  <%=submit_tag t("buttons.delete"), :class => "submit-button", :onclick => "document.list.action='#{ctrl}/destroy';", :disabled => disabled %>
<%end%>