<div id="list-menu">
  <ul>
    <%= list_menu_item :label => t("navigation.myaccount.slidemenu.shopping.dashboard"),
                       :url => "/myaccount/shopping/dashboard", :match_path => "/myaccount/shopping/dashboard" %>
    <%= list_menu_item :label => t("navigation.myaccount.slidemenu.shopping.orders"),
                       :url => "/myaccount/shopping/orders", :match_path => "/myaccount/shopping/orders" %>
    <%= list_menu_item :label => t("navigation.myaccount.slidemenu.shopping.favorites"),
                       :url => "/myaccount/shopping/favorites", :match_path => "/myaccount/shopping/favorites" %>
    <%= list_menu_item :label => t("navigation.myaccount.slidemenu.shopping.addresses"),
                       :url => "/myaccount/shopping/addresses", :match_path => "/myaccount/shopping/addresses" %>
    <%= list_menu_item :label => t("navigation.myaccount.slidemenu.shopping.change_password"),
                       :url => "/myaccount/shopping/change_password", :match_path => "/myaccount/shopping/change_password" %>
  </ul>
</div>
