<%= form_for :delayed_job_filter, :url => {:action => "index"},
	:html => {:method => :get, :id => "delayed_jobs_filter", :class => "list-filter" } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <ul>
      <li>
        <%= f.label :priority %>
        <%= f.text_field :priority %>
        <%= f.error_message_on :priority %>
      </li>
      <li>
        <%= f.label :created_at_since %>
        <%= f.date_time_picker :created_at_since %>
        <%= f.error_message_on :created_at_since %>
      </li>
      <li>
        <%= f.label :created_at_till %>
        <%= f.date_time_picker :created_at_till %>
        <%= f.error_message_on :create_at_after %>
      </li>
    </ul>
    <%= f.submit t("buttons.filtrate") %>
  </fieldset>
<% end %>
<%= set_focus_on_load("delayed_job_filter_name") %>
