<%= form_for :complaint_filter, :url => {:action => "index"},
:html => {:method => :get, :id => "complaints_filter", :class => "list-filter" } do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <ul>
      <li>
        <%= f.label :complaint_type_id %>
        <%= f.collection_select :complaint_type_id, @complaint_types_filter, :id, :name %>
        <%= f.error_message_on :complaint_type_id %>
      </li>
      <li>
        <%= f.label :complaint_status_id %>
        <%= f.collection_select :complaint_status_id, @complaint_statuses_filter, :id, :name %>
        <%= f.error_message_on :complaint_status_id %>
      </li>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.error_message_on :title %>
      </li>
      <li>
        <%= f.label :created_at_since %>
        <%= f.date_time_picker :created_at_since %>
        <%= f.error_message_on :created_at_since %>
      </li>
      <li>
        <%= f.label :created_at_till %>
        <%= f.date_time_picker :created_at_till %>
        <%= f.error_message_on :create_at_after %>
      </li>
    </ul>
    <%= f.submit t("buttons.filtrate") %>
  </fieldset>
<% end %>
<%= set_focus_on_load("complaint_filter_complaint_type_id") %>

